#news1{
    width: 90%;
    margin: auto;
}

#news2{
    width: 90%;
    margin: auto;
    margin-top: 3%;
}
 /* trial */
#bursary-body{
    background-color: blue;
    
}

.card-body {
    color: goldenrod;
    background-color: #354D70;

}

#kazi-mtaani {
    height: 36vh;
}