body{
  background-color: #1c304e;
  color: #e0cd21;
  height: 100%;
  margin: 0;
  display: grid;
}

.info{
  height: 50vh;
  /* justify-content: space-between; */
}

form{
  height: 100%;
}

.three{
  text-decoration: underline;
}

.four{
  color: #ffe600;
  background-color: #1c304e;
  cursor: pointer;
  margin: 14px 0;
  border-radius: 8%;
  float: right;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.foursix{
  color: #ffe600;
  background-color: #1c304e;
  cursor: pointer;
  margin: 14px 0;
  border-radius: 8%;
  float: left;
  text-decoration: underline;
}

.fourseven{
  color: #ffe600;
  background-color: #1c304e;
  cursor: pointer;
}

.fourfive{
  color: #ffe600;
  background-color: #0b1b33;
  cursor: pointer;
  padding: 3%;
  margin: 8px;
  box-sizing:content-box;
  border-radius: 10px;
  width: 50%;
}

.seven{
  width: 420px;
  padding: 30px;
}

.container{
  background-color: rgba(20, 37, 83, 0.7);
  border: 10px solid #B2A528;
  text-align: center;
  color: #ffe600;
  border-radius: 5%;
  height: 70vh;
  

}

button:hover {
  opacity: 0.8;
}

input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  width: 90%;
  box-sizing: border-box;
  border: none;
  background-color: #1c304e;
  color: #ffe600;
  cursor: pointer;
  border-radius: 10px ;
}

input[type=password] {
  padding: 12px 20px;
  margin: 8px 0;
  width: 90%;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  background-color: #1c304e;
  color: #ffe600;
  border-radius: 10px ;
}