* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("../IMAGE/slum.jpeg");
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    
}

img {
    width: 200px;
    height: 200px;
    border-radius: 30%;
    border: #393939 solid;
}


/* 
ul {
    list-style: none;
} */


/* a {
    text-decoration: none;
} */

.navigation-container {
    width: 100%;
    height: 60px;
    background-color: #3e537c;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0, 20);
}

.navigation-content {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 5%;
}

.logo img {
    position: relative;
    /* width: 100px;
    height: auto; */
    height: 60px;
    width: auto;
    z-index: 1;
    left: 18px;
    top: 2px;
}

.page {
    display: inline-block;
    padding: 12px;
}

.page ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

.page ul li {
    position: relative;
}

.page ul li ul {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.page ul li a {
    display: block;
    min-width: 150px;
    padding: 7px 4px;
    margin-right: 5px;
    background-color: #393939;
    color: #B2A528;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2rem;
}

.page ul li a:hover {
    color: #2cc1d9;
}

.page ul ul {
    list-style-type: none;
    position: absolute;
    left: -9999px;
}

.page ul ul li {
    float: none;
}

.page ul ul li a {
    background-color: #B2A528;
    min-width: 200px;
    color: #fff;
    border: 1px solid #fff;
    display: block;
    padding: 7px 2px;
    text-decoration: none;
    font-size: 10rem;
}


.page ul ul li a:hover {
    color: #393939;
}

.page ul li:hover ul {
    left: 0px;
}

.content-1 {
    width: 80%;
    padding: 1%;
    background-color: rgba(20, 37, 83, 0.7);
    height: 80vh;
    margin-top: 20%;
    border: 10px solid #B2A528;
    border-radius: 50px;
    box-shadow: inset 0 0 10px #310133;
}

#residents{
    margin-left: 60%;
    margin-top: 0%;
    width: 100px;
}

#admin{
    margin-top: 5px;
    margin-left: 4%;
}

.content-2 {
    width: 80%;
    margin-top: 20%;
    background-color: rgba(20, 37, 83, 0.7);
    padding: 1%;
    height: 68vh;
    border: 10px solid #B2A528;
    border-radius: 50px;
    box-shadow: inset 0 0 10px #310133;
}

.head {
    display: flex;
    flex-direction: column;
    text-decoration: underline;
    align-items: center;
    position: relative;
    color: #ffe605;
}

.ph {
    color: #ffe605;
    font-size: 230%;
    font-family: 'Shadows Into Light', cursive;
    border-radius: 40px;
}



#resident {
    color: #ffae00;
    background-color: #1c304e;
    cursor: pointer;
    border-radius: 8%;
    float: left;
    font-size: 30px;
    border-radius: 30px;
}